# Python Basics

## Whitespace Is Important

In [2]:
listOfNumbers = [1, 2, 3, 4, 5, 6, 7, 8]

for number in listOfNumbers:
    print number,
    if (number % 2 == 0):
        print "is even"
    else:
        print "is odd"
        
print "All done."

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
All done.

## Importing Modules

In [3]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print A

[ 25.89470272  19.64152839  31.74866904  30.44434973  33.91705785
  30.05575978  32.82534334  21.95231201  28.65970579  21.63324038]

## Lists

In [12]:
x = [1, 2, 3, 4, 5, 6]
print x
print len(x)

[1, 2, 3, 4, 5, 6]
6

In [13]:
x[:3]

[1, 2, 3]

In [14]:
x[3:]

[4, 5, 6]

In [15]:
x[-2:]

[5, 6]

In [16]:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [19]:
y[1]

11

In [22]:
z = [3, 5, 2, 4, 1]
z.sort()
z

[1, 2, 3, 4, 5]

In [23]:
z.sort(reverse=True)
z

[5, 4, 3, 2, 1]

## Tuples

In [30]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len (x)

3

In [44]:
y = (4, 5, 6)
y[0]

4

In [54]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [61]:
(age, income, interest_rate) = x
x = "32,120000,5.8".split(',')
print x[0]
print x[1]
print x[2]

32
120000
5.8

## Dictionaries

In [62]:
# Like a map or hash table in other languages
captains = {}
captains["India"] = "Dhoni"
captains["Pakistan"] = "Afridi"
captains["Australia"] = "Gilchrist"

print captains["India"]

Dhoni

In [63]:
print captains.get("Australia")

Gilchrist

In [64]:
print captains.get("NX-01")

None

In [65]:
for ship in captains:
    print ship + ": " + captains[ship]

Pakistan: Afridi
Australia: Gilchrist
India: Dhoni

## Functions

In [72]:
def SquareIt(x):
    return x * x

print SquareIt(2)

4

In [73]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x) * 2

print DoSomething(SquareIt, 3)

18

In [74]:
#Lambda functions let you inline simple functions
print DoSomething(lambda x: x * x * x, 9)

1458

## Boolean Expressions

In [24]:
print 1 == 3

False

In [25]:
print (True or False)

True

In [26]:
print 1 is 3

False

In [27]:
if 1 is 3:
    print "How did that happen?"
elif 1 > 3:
    print "Yikes"
else:
    print "All is well with the world"

All is well with the world

## Looping

In [28]:
for x in range(10):
    print x,

0 1 2 3 4 5 6 7 8 9

In [29]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print x,

0 2 3 4 5

In [30]:
x = 0
while (x < 10):
    print x,
    x += 1

0 1 2 3 4 5 6 7 8 9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [97]:
#for x in range(0,20):
x = 0
while (x < 20):
    x += 1
    if (x % 2 == 0):
        print x,

2 4 6 8 10 12 14 16 18 20